.headerContainer{
    background-color: #2A4E96;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerTitle{
    color: #fff;
    font-size: 20px;
}
.linkButton{
    text-decoration: none;
}
.funcionalitiesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigateButton{
    margin: 10px 20px;
    text-decoration: none;
}